<head>
    <title>form</title>
</head>
<form method="POST" action="/new">
    <label for="author">author</label>
    <input type="text" name="author" required>
    <label for="message">message</label>
    <input type="text" name="message" required>
    <input type="submit" value="send">
</form>
