<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Message Details</title>
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body>
       <ul>
            <li><strong>user: </strong><%= message.username %></li>
            <li>
                <strong>message:</strong>
                <p><%= message.message %></p>
            </li>
            <li>added on <%= message.date %></li>
        </ul>
    </body>
</html>
